body {
	background-color: black;
	color: grey;
	font-size: 25px;
}

span {
	font-size: 50px;
}

table {
	table-layout: fixed;
}

select {
	font-size: 50px;
	width: 260px;
}

input {
	height: 80px;
	width: 80px;
	font-size: 50px;
	text-align: center;
}

#instead {
	color: black;
	font-size: 50px;
	font-weight: bold;
	background-color: green;
}

#outcome {
	color: black;
	font-size: 50px;
	font-weight: bold;
}

.success {
	background-color: green;
}

.fail_by_1 {
	background-color: royalblue;
}

.fail_by_2 {
	background-color: gold;
}

.fail_by_3 {
	background-color: darkorange;
}

.fail_by_4 {
	background-color: red;
}